# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
.env

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
